@require "../../../assets/stylesheets/global.styl";
@require '../../../assets/stylesheets/helpers/loadingPlaceholder.styl';
@require "../../../assets/stylesheets/helpers/clickable.styl";

.description {
  font-size: $font-large;
  margin-bottom: $medium-spacing;
}

.loadMore {
  text-align: center;
  margin-top: $medium-spacing;

  .loadMoreButton {
    cursor: pointer;
    font-size: $font-small;
  }
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
    height: 12px;
  }

  &.processed .icon {
    height: 20px;
  }
}

.reportingsCount {
  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
    height: 12px;
    margin-right: $tiny-spacing;
  }
  .text {
    font-weight: $fw-bold;
    color: $orange;
  }
}

.actionsColumn {
  padding: 0 !important;
}

.clickable {
  clickable();
}

.sortIcon {
  cursor: pointer;
  margin-left: $tiny-spacing;

  &:before {
    content: "▲";
  }

  &.descending {
    &:before {
      content: "▼";
    }
    transform: rotate(180deg);
  }
}

.userFilterForm {
  margin-bottom: $medium-spacing;
}

.tableContainer {
  position: relative; 
  &.loading {
    loadingOverlay('mostlyHidden');
    &::before {
      top: 65px;
    }
  }
}

.noResults {
  text-align: center;
  color: $darkgray;
}

.loadingPlaceholderTable {
  .heading {
    .textPlaceholder {
      background-color: lighten($purple, 25%);
    }
  }

  .textPlaceholder {
    height: 15.71px;  /* value to emulate same height for the table row, than regular text */
    background-color: $lightgray;
    loadingOverlay();
    width: 250px;
    border-radius: 5px;
  }
}



