@require "../../../assets/stylesheets/global.styl";


.container {
  margin-bottom: $small-spacing;
}

.filtersPanel {
  background-color: $white;
  padding: $small-spacing;

  .panelSectionTitle {
    color: $purple;
    font-size: $font-large;
    margin-bottom: $small-spacing;
  }
}


.badgesContainer {
  margin-top: $small-spacing;
  margin-bottom: -($tiny-spacing);
  display: flex;
  flex-wrap: wrap;

  .badge {
    margin-right: $tiny-spacing;
    margin-bottom: $tiny-spacing;
  }
}
