@require "../../../../../assets/stylesheets/global.styl";

.container {
  font-size: $font-xsmall;
  color: $darkgray;

  label {
    margin-bottom: $tiny-spacing;
  }

  p {
    margin-bottom: $small-spacing;
  }
}

