@require "../../../../../assets/stylesheets/global.styl";

.settingField {
  font-size: $font-small;

  .title {
    color: $pink;
    font-size: $font-medium;
    margin-bottom: $tiny-spacing;
  }

  .currentSetting {
    margin-bottom: $tiny-spacing;
    .value {
      color: $purple;
    }
  }

  .hint {
    margin-bottom: $tiny-spacing;
    font-size: $font-xsmall;
    color: $darkgray;
  }

  .editLink a {
    text-decoration: underline;
    color: $purple;
  }
}

