@require '../../assets/stylesheets/global.styl';

.backButton {
  display: flex;
  align-items: center;
  padding-left: $medium-spacing;
  padding-right: $medium-spacing;
  padding-top: $small-spacing;
  background-color: white;
  color: $purple;
  text-decoration: inherit;
  font-size: $font-small;
  font-family: Raleway;
  font-weight: $fw-medium;
  clickable();

  +desktop() {
    background-color: transparent;
    padding-bottom: 10px;
  }

  img {
    height: 8px;
  }
  span {
    margin-left: $tiny-spacing;
    white-space: nowrap;
  }
}
