@require '../../assets/stylesheets/global.styl';
@require './BannerMenu.vars.styl';


.container {
  display: flex;
  justify-content: space-between;
  height: $bannerMenuHeight;

  .link {
    color: $darkgray;
    font-size: $font-small;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    &.active {
      color: $purple;
      font-weight: $fw-bold;
      border-bottom: 2px solid $purple;
    }
  }
}
