@require '../../assets/stylesheets/global.styl';

.container {
  background-color: white;
  padding-bottom: $large-spacing;

  .title {
    padding: $medium-spacing;
    color: $pink;
    font-weight: $fw-light;
  }

  .link {
    padding-left: $medium-spacing;
    padding-right: $medium-spacing;
    padding-top: $tiny-spacing;
    padding-bottom: $tiny-spacing;
    display: block;
    color: $black;
    text-decoration: none;

    &.active {
      color: white;
      background-color: $pink;
      font-weight: $fw-semibold;
    }
  }
}
