@require "../../assets/stylesheets/global.styl";


.container {

  .titleBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: $tiny-spacing;
    padding-bottom: $tiny-spacing;
    padding-right: $small-spacing;
    cursor: pointer;
    user-select: none;

    .rightArrow{
      height: 12px;
    }
    .bottomArrow {
      height: 8px;
    }
  }

  &.open {
    .titleBar {
      background-color: $pink;
      color: white;
      padding-left: $small-spacing;
    }
    .rightArrow {
      display: none;
    }
  }

  &.closed {
    .titleBar {
      color: $pink;
    }
    .bottomArrow {
      display: none;
    }
  }

  .content {
    background-color: white;
    padding-top: $tiny-spacing;
    padding-bottom: $tiny-spacing;
    padding-right: $small-spacing;
    padding-left: $small-spacing;
  } 
}
