@require '../../assets/stylesheets/global.styl';
@require '../../assets/stylesheets/helpers/clickable.styl';

.autoGeoloc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: $small-spacing;

  font-size: $font-small;
  color: $purple;
  clickable();

  &.loading {
    @keyframes loadingFadingAnimation {
      0% { opacity: .3; }
      20% { opacity: .3; }
      50% { opacity: .8; }
      80% { opacity: .3; }
      100% { opacity: .3; }
    }
    animation: loadingFadingAnimation 1.5s linear infinite;
    cursor: initial;
  }

  .geolocIcon {
    margin-right: $small-spacing;
    height: 15px;
    img {
      height: 100%;
    }
  }
}

.suggestion {
  padding-left: $medium-spacing;
  padding-right: $medium-spacing;
}

.autocompleteInput {
  color: $purple;
  height: 30px;
  font-family: Raleway;
  font-weight: $fw-semibold;
  font-size: $font-small;
  padding-left: $medium-spacing;
  padding-right: $medium-spacing;
}
