@require '../../assets/stylesheets/global.styl';
@require '../../assets/stylesheets/helpers/clickable.styl';
@require './ImproveDdfButton.vars.styl';



.container {
  display: block;
  height: $ImproveDdfButtonHeight;
  position: relative;
  overflow: hidden;
  background-image: url('../../assets/images/arc_cercle.png');
  background-size: 100% 100%;
  font-size: $font-medium;
  font-family: Raleway;
  font-weight: $fw-bold;
  color: white;
  clickable();

  .textLine {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      flex-shrink: 0;
    }

    .ddfLogo, .plusButton {
      img {
        height: 100%;
      }
    }

    .ddfLogo {
      position: relative;
      top: -4px;
      margin-left: $small-spacing;
      margin-right: $small-spacing;
      height: 18px;
    }

    .plusButton {
      position: relative;
      top: -4px;
      height: 30px;
    }
  }
}
