@require '../../assets/stylesheets/global.styl';


.table {
  width: 100%;
  border-spacing: 0 $tiny-spacing;
  font-size: $font-small;

  .row{
    &:nth-child(odd){
      background: $white;
    }

    &:nth-child(even){
      background: $mediumgray;
    }

    .col{
      padding-top: $medium-spacing;
      padding-bottom: $medium-spacing;
      padding-right: $small-spacing;
      padding-left: $small-spacing;
    }

    &.heading{
      background: transparent;

      .col{
        background: $purple;
        color: $white;
        border-spacing: 10px;
        &:not(:last-of-type){
          border-right: $tiny-spacing solid $lightgray;
        }
      }
    }
  }
}

