@require "../../assets/stylesheets/global.styl";


.tag {
  background-color: $purple;
  color: white;
  font-size: $font-small;
  padding-left: $small-spacing;
  padding-right: $small-spacing;
  padding-top: $tiny-spacing;
  padding-bottom: $tiny-spacing;
  display: flex;
  align-items: center;
  border-radius: 99999px; /* arbitrary large value */

  .closeButton {
    height: 10px;
    width: 10px;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    margin-left: $small-spacing;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}
