@require "../../assets/stylesheets/global.styl";

.description {
  font-size: $font-large;
  margin-bottom: $medium-spacing;
}

.loadMore {
  text-align: center;
  margin-top: $medium-spacing;

  .loadMoreButton {
    cursor: pointer;
    font-size: $font-small;
  }
}

.status {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;

  .statusIcon {
    width: 20px;
    height: 20px;
    margin-bottom: $tiny-spacing;
  }
}

.userFilterForm {
  margin-bottom: $medium-spacing;
}
