@require "../../assets/stylesheets/global.styl";
@require "../../assets/stylesheets/helpers/clickable.styl";

.formWrittenRep {
  display: flex;
  justify-content: space-between;
  font-size: $font-large;
  font-weight: $fw-bold;
  margin-left: $tiny-spacing;
  margin-bottom: $small-spacing;

  img {
    width: 20px;
    height: 20px;
    clickable();
  }
}

