@require '../../assets/stylesheets/global';
@require './MobileMainLayout/vars.styl';

.mainContainer {
  position: relative;

  /** 
   * These rules allow to have a full page height, with the footer exactly on bottom of the screen
   * even if the content is shorter 
   */
  display: flex;
  flex-direction: column;
  min-height: 100vh;


  +desktop() {
    center($desktop-column-width);
  }

  .contentContainer {
    flex-grow: 1;
    overflow-x: auto;
  }

  &.freeze {
    height: 100vh;
    overflow: hidden;
  }
}

$left-panel-width-mobile = calc(100vw - 50px);
$left-panel-width-desktop = ($desktop-column-width - 50px);

.foldingLeftPanelContainer {
  position: absolute;
  z-index: 3;
  top: 0px;
  left: 0px;
  width: $left-panel-width-mobile;
  +desktop() { width: $left-panel-width-desktop }
  height: 100vh;
  overflow: hidden;

  transition: width 0.2s;

  .leftPanel {
    position: absolute;
    right: 0;
    height: 100vh;
    width: $left-panel-width-mobile;
    +desktop() { width: $left-panel-width-desktop }
    overflow-y: scroll;

    background-color: $lightgray;
  }

  &.closed {
    width: 0px;
  }
}

