@require '../../assets/stylesheets/global.styl';

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-top: $large-spacing;
  padding-bottom: $medium-spacing;
  padding-right: $medium-spacing;
  padding-left: $medium-spacing;
}

.mobileMainLayoutContentContainer {
  display: flex;
  flex-direction: column;
}
