@require '../../../assets/stylesheets/global.styl';
@require './DesktopHeader.vars.styl';

.header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding-left: $huge-spacing;
  padding-right: $huge-spacing;
  height: $desktopHeaderHeight;

  a {
    color: inherit;
    text-decoration: inherit;
  }

  .headerSection {
    display: flex; 
    align-items: center;

    &.searchBarSection {
      flex-grow: 1;
      display: flex;
      justify-content: center;
    }

    &.title, &.buttons {
      width: 300px;
    }

    &.buttons {
      justify-content: flex-end;
      .button {
        margin-left: $small-spacing;
        img {
          height: $buttonHeight;
        }
      } 
    }
  }

  .ddfLogo {
    height: 30px;
  }

  .ddfTitle {
    font-weight: $fw-bold;
    margin-left: $medium-spacing;
  }

  .searchBarContainer {
    flex-grow: 1;
    max-width: 400px;
  }

  .geolocMarkerIcon {
    height: 20px;
    margin-left: $small-spacing;
  }

  .searchButton {
    font-size: $font-small;
    margin-left: $small-spacing;
  }
}


