@require '../../../assets/stylesheets/global.styl';
@require '../../components/widgets/ImproveDdfButton.vars.styl';
json('DesktopFooter.vars.json');

.improveSection {
  width: 500px;
  margin-top: (footerImproveButtonHeight - $ImproveDdfButtonHeight);
  margin-right: auto;
  margin-left: auto;
  pointer-events: auto;
}

.improveSectionFiller {
  height: footerImproveButtonHeight px;
}

.mainSection {
  display: flex;
  background-color: white;
  padding-left: $huge-spacing;
  padding-right: $huge-spacing;
  padding-top: $large-spacing;
  height: footerLinksBannerHeight px;

  .ddfLogo {
    height: 20px;
  }

  .creativeCommonsLogo {
    height: 20px;
  }

  .footerSection {
    &.logo, &.licence {
      width: 100px;
    }

    &.links {
      display: flex;
      justify-content: center;
      flex-grow: 1;

      .widthContainer {
        max-width: 600px;
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
      }
      
      a {
        text-decoration: none;
        font-family: Raleway;
        font-weight: $fw-semibold;
        color: $purple;
        white-space: nowrap;
      }
    }
  }
}

.partnersSection {
  height: footerPartnersLinksHeight px;
  padding-top: $medium-spacing;

  .caption {
    text-align: center;
    margin-bottom: $medium-spacing;
  }

  .logos {
    justify-content: center;
    display: flex;
    .logo {
      margin-right: $huge-spacing;
      height: 80px;
    }
  }
}
