@require '../../assets/stylesheets/global.styl';
@require '../../assets/stylesheets/helpers/clickable.styl';

.desktopSideColumn {
  .likeCount {
    $boxHeight = 60px;
    $arrowHeight = $small-spacing;
    $arrowBase = 1.15 * $arrowHeight;

    position: relative;
    padding-top: $small-spacing;
    padding-left: $medium-spacing;
    padding-right: $medium-spacing;
    background-color: $purple;
    margin-bottom: $small-spacing;
    height: $boxHeight;
    color: white;
    text-align: center;

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: (($boxHeight - $arrowBase) / 2);
      left: -($arrowHeight);
      width: 0;
      height: 0;
      border-right: $arrowHeight solid $purple;
      border-top: ($arrowBase/2) solid transparent;
      border-bottom: ($arrowBase/2) solid transparent;
    }
  }

  .source {
    display: block;
    font-size: $font-small;
    color: $pink;
    margin-bottom: $medium-spacing;
    clickable();

    .title {
      font-weight: $fw-bold;
      text-decoration: none;
    }
  }

  .discussionsSection {
    margin-top: $huge-spacing;
  }
}
