@require '../../assets/stylesheets/global.styl';
@require '../../assets/stylesheets/helpers/forColors.styl';

.content {
  background-color: white;

}

.countries {
  display: flex;
  flex-wrap: wrap;
  color: white;

  .country {
    padding: $tiny-spacing;
    margin: $tiny-spacing;
    &:first-child {
      margin-left: 0;
    }
    forColors(defaultColor: "gray", @($color) {
      background-color: $color;
    })
  }
}

.desktopCaption {
  display: none;
  margin-bottom: $small-spacing;
  +desktop() {
    display: block;
  }
}
