@require '../../assets/stylesheets/global.styl';

.semanticRelationTitle {
  color: $pink;
  font-size: $font-medium;
  font-weight: $fw-bold;
}

.semanticRelation {
  a {
    color: inherit;
    text-decoration: inherit;
  }
}
