@require '../../assets/stylesheets/global.styl';

.actions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: $small-spacing;

  .button {
    &:not(last-of-type){
      margin-right: $tiny-spacing;
    }
  }
}