@require '../../assets/stylesheets/global.styl';
@require '../../assets/stylesheets/helpers/loadingPlaceholder.styl';

.placeholder {
  loadingOverlay();
  padding-left: $medium-spacing;
  padding-right: $medium-spacing;
  padding-top: $small-spacing;
  padding-bottom: $small-spacing;
  margin-bottom: $medium-spacing;
  background-color: white;

  .countries {
    width: 100px;
    background-color: $loading-placeholder-color;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: $small-spacing;
    padding-right: $small-spacing;
    margin-bottom: $small-spacing;
  }
  .fakeTextLine {
    position: relative;

    .textPlaceholder {
      position: absolute;
      width: 100%;
      height: 75%;
      top: 0;
      background: $loading-placeholder-color;
    }
  }
}
