@require "../../assets/stylesheets/global.styl";

.usageExample {
  font-size: $font-small;
  color: $darkgray;
  margin-top: $small-spacing;

  .label {
    font-weight: $fw-bold;
  }

  .text {
    font-style: italic;
  }
}
