@require '../../../assets/stylesheets/global.styl';
@require '../../assets/stylesheets/helpers/forColors.styl';
@require './SimpleModalPage.vars.styl';

.container {
  display: flex;
  align-items: center;
  height: $headerHeight;

  forColors(defaultColor: "purple", @($color) {
    background-color: $color;
  });
  color: white;

  .backButton, .closeButton, .spaceFiller {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    font-size: $font-large;
    font-weight: $fw-bold;
    img {
      height: 100%;
      width: 100%;
    }
  }

  .backButton, .closeButton {
    cursor: pointer;
  }

  .backButton {
    height: $font-medium;
  }

  .closeButton {
    height: 12px;
  }

  .title {
    flex-grow: 1;
    text-align: center;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: $headerFontSize;
    font-family: Raleway;
    font-weight: $fw-semibold;
  }
}
