@require "../../../../assets/stylesheets/global.styl";

.tag{
  font-size: $font-small;
  background: $purple;
  color: $white;
  padding: $tiny-spacing;
  margin: $tiny-spacing;
  white-space: nowrap;
  display: inline-block;
}
.removeIcon{
  vertical-align baseline;
  height: 7px;
  margin-left: 5px;
  cursor: pointer;
}