@require "../../../../assets/stylesheets/global.styl";

.actionButton{
  width: 100%;
  padding:  $tiny-spacing;
  margin-bottom: $tiny-spacing;

  &.danger{
    background: $orange;
    color: $white;
    border-color: $white;
  }

  &.grant{
    background: $green;
  }
}

.accountUnregistered{
  color: $purple;
  font-size: $font-small;
}