@require '../../../assets/stylesheets/global';

.title {
  font-size: $font-medium;
  color: $purple;
  font-weight: $fw-semibold;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 999;
}

