@require '../../../assets/stylesheets/global.styl';
@require '../../../components/widgets/ImproveDdfButton.vars.styl';

.placeholder, .fixedContainer {
  height: $ImproveDdfButtonHeight;
}

.fixedContainer {
  position: fixed;
  z-index: 3;
  bottom: 0;
  left: 0;
  right: 0;
} 

