@require "../../../assets/stylesheets/global.styl";

.menuEntry {
  display: flex;
  align-items: center;
  padding-left: $medium-spacing;
  padding-top: $small-spacing;
  padding-bottom: $small-spacing;
  color: inherit;
  text-decoration: inherit;

  &:hover {
    background-color: $pink;
    color: white;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    margin-right: $medium-spacing;

    img {
      width: 100%;
      height: 100%;
    }

    &.ddfIcon img {
      width: 175%;
    }
  } 
}

.container {
  hr {
    border-color: $mediumgray;    
    margin-left: $large-spacing;
    margin-right: $large-spacing;
  }

  &.noLoggedUser {
    margin-top: $large-spacing;
  }
}

.userSection {
  padding-top: $large-spacing;
  padding-left: $medium-spacing;
  padding-right: $medium-spacing;
  padding-bottom: $medium-spacing;
  margin-bottom: $medium-spacing;
  background-color: $pink;
  color: white;

  .username {
    font-weight: $fw-bold;
    margin-bottom: $tiny-spacing;
    &:before {
      content: "[ ";
    }
    &:after {
      content: " ]";
    }
  }

}


