@require '../../../assets/stylesheets/global';
@require '../../../assets/stylesheets/helpers/clickable.styl';
@require './vars.styl';

$zero = 0.00001;
$duration = 0.5s;



.container {
  background-color: white;
  padding-right: $medium-spacing;
  padding-left: $medium-spacing;
  padding-top: $small-spacing;
  padding-bottom: $small-spacing;

  .actions {
    display: flex;
    align-items: center;
    height: $header-default-height;
    &.postContent {
      justify-content: flex-end;
    }
  }

  .menuButton, .searchButton, .geolocButton {
    cursor: pointer;
  }

  .menuButton, .geolocButton {
    clickable();
  }

  .menuButton {
    $buttonDimension = 18px;
    width: $buttonDimension;
    height: $buttonDimension;
    background: none;
    border: none;

    &:focus {
      outline: none;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .searchButton {
    $buttonDimension = 30px;
    margin-right: $small-spacing;
    background-color: $purple;
    height: $buttonDimension;
    width: $buttonDimension;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      $ratio = 0.60;
      width: $ratio * @width;
      height: $ratio * @height;
    }
  }

  .geolocButton {
    $buttonDimension = 30px;
    margin-right: $small-spacing;
    height: $buttonDimension;
    width: $buttonDimension;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      $ratio = 0.60;
      width: $ratio * @width;
      height: $ratio * @height;
    }
  }

  .ddfLogo {
    width: 60px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.container.withSearchClosed {
  position: relative;
  display: flex;

  .actions.postContent {
    flex-shrink: 0;
    flex-grow: 1;
  }
}


.container.withSearchOpened {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $header-default-height + 2 * $small-spacing;

  .backgroundOverlay {
    @keyframes backgroundPurple {
      0% {background-color: transparent}
      25% {background-color: $purple}
      100% {background-color: $purple}
    }
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation-name: backgroundPurple;
    animation-duration: $duration;
    animation-fill-mode: forwards;
  }

  .actions.postContent {
    width: 100%;
  }

  .searchBarContainer {
    @keyframes expandSearchBar {
      0% {flex-grow: $zero}
      25% {flex-grow: $zero}
      100% {flex-grow: 1}
    }
    margin-right: $small-spacing;
    flex-basis: 30px;
    overflow: hidden;
    animation-name: expandSearchBar;
    animation-duration: $duration;
    flex-grow: 1;
  }

  .searchBarContainer, .geolocButton, .menuButton {
    z-index: 2;
  }

  &.hidden {
    display: none;
  }
}



$geolocInfoHeight = 35px;

.geolocInfoHiderContainer {
  height: $geolocInfoHeight;
  overflow: hidden;
  transition: height 0.2s;

  &.hidden {
    height: 0px;
  }
}

.geolocInfo {
  display: flex;
  align-items: center;
  height: 35px;
  padding-left: $medium-spacing;
  padding-right: $medium-spacing;

  background: $purple;
  font-size: $font-small;
  color: white;
  cursor: pointer;

  .locationText {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 0;
  }

  .placeName {
    font-weight: $fw-bold;
    flex-shrink: 0;
  }

  .geolocIcon {
    height: 20px;
    margin-right: $small-spacing;
    img {
      height: 100%;
    }
  }
}
