@require '../../assets/stylesheets/global';
@require '../../assets/stylesheets/helpers/forColors.styl';


.content {
  padding-left: $medium-spacing;
  padding-right: $medium-spacing;
  padding-bottom: $medium-spacing;
  background-color: white;

  p {
    margin-bottom: $medium-spacing;
  }

  h1 {
    margin-left: -($medium-spacing);
    margin-right: -($medium-spacing);
    margin-bottom: $medium-spacing;

    color: white;
    font-weight: $fw-semibold;
    font-size: $font-medium;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    +desktop() {
      /** Hack to visually simulate different content sections between the markdown content separated by h1 elements */
      box-sizing: content-box;
      border-top: $medium-spacing solid $lightgray;
    }
  }

  ul {
    /* for bullet points */
    padding-left: 2em;
    margin-bottom: $medium-spacing;
  }

  forColors(defaultColor: "purple", @($color) {
    h1 {
      background-color: $color;
    }
  });
}

