@require '../../assets/stylesheets/global.styl';

.content, .desktopContent {
  background-color: $purple;
  color: white;

  a {
    color: inherit;
    text-decoration: underline;
  } 
  ul {
    /* for bullet points */
    padding-left: 2em;
  }

  h1, h2 {
    &:first-child {
      margin-top: 0;
    }
    margin-top: $medium-spacing;
    margin-bottom: $small-spacing;
  }

  p {
    margin-bottom: $small-spacing;
  }
}
