@require '../../assets/stylesheets/global.styl';

.content {
  padding-top: $large-spacing;
  padding-bottom: $large-spacing;
  padding-right: $medium-spacing;
  padding-left: $medium-spacing;
  background-color: white;
}
