@require '../global.styl';
@require './forColors.styl';


colorContainerWithCountry(countriesBoxSelector = false, sourcesBoxSelector = false, withContainerBorders = false) {
  $border-width = 7px;
  $border-width-desktop = 3px;
  $defaultCountryColor = $darkgray;

  if withContainerBorders {
    border-right: solid $border-width; 
    border-left: solid $border-width;
    +desktop() {
      border-width: $border-width-desktop;
    }
  }

  forColors(defaultColor: "gray", @($color) {
    if withContainerBorders {
      border-color: $color;
      border-color: $color;
    }

    if countriesBoxSelector {
      {countriesBoxSelector} {
        background-color: $color;
      }
    }

    if sourcesBoxSelector {
      {sourcesBoxSelector} {
        background-color: $color;
      }
    }
  })

}
