@require '../global.styl';

countriesRowStyling(countriesSelector) {
  display: flex;
  {countriesSelector} {
    color : white;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: $font-medium;
    font-weight: $fw-bold;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: $small-spacing;
    padding-right: $small-spacing;
  }
}
