
/**
 *  Allow to automatically set a rule for all the color of the app color palette.

   Example : 

   .myContainer {
     forColors( @($color) {
       background-color: $color;
     })
   }

   Will output : 

   .myContainer.orange {
     background-color: <orangeCode>;
   }
   .myContainer.green {
     background-color: <greenCode>;
   }
   /** etc..  * /


   You can also specify a default color, which will be set as the CSS rule without the added color class name :

   .myContainer {
     forColors(defaultColor: "purple",  @($color) {
       background-color: $color;
     })
   }

   Will output : 

   .myContainer {
     background-color: <purpleCode>
   }
   .myContainer.orange {
     background-color: <orangeCode>;
   }
   .myContainer.green {
     background-color: <greenCode>;
   }
   /** etc..  * /

*/
forColors(userMixin, defaultColor = false) {
  $colors = {
    'green': $green,
    'orange': $orange,
    'yellow': $yellow,
    'pink': $pink,
    'black': #000000,
    'purple': $purple,
    'gray': $darkgray
  };

  if defaultColor {
    userMixin($colors[defaultColor]);
  }

  for colorName, colorValue in $colors {
    &.{colorName} {
      userMixin(colorValue);
    }
  }

}
