@require '../global.styl';


$loading-placeholder-color = $lightgray;

/** 
 *  mode : 'mostlyVisible' | 'mostlyHidden'
 */
loadingOverlay(mode = 'mostlyVisible') {
  position:relative;
  overflow: hidden;

  @keyframes fadingMostlyVisible {
    0% { opacity: .3; }
    20% { opacity: .3; }
    50% { opacity: .8; }
    80% { opacity: .3; }
    100% { opacity: .3; }
  }
  @keyframes fadingMostlyHidden {
    0% { opacity: .8; }
    20% { opacity: .8; }
    50% { opacity: .3; }
    80% { opacity: .8; }
    100% { opacity: .8; }
  }

  &::before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: white;
    if (mode == 'mostlyVisible') {
      animation-name: fadingMostlyVisible;
    }
    if (mode == 'mostlyHidden') {
      animation-name: fadingMostlyHidden;
    }
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  &:active{
    filter: initial;  /* disable the effect of clickable() (see clickable.styl) */
  }
}
