@require '../global.styl';

overrideInputAutoFillStyling(backgroundColor, textColor) {

  /**
   *  Disable chrome autofill styling
   */
  &:-webkit-autofill,
  &:-webkit-autofill:hover, 
  &:-webkit-autofill:focus, 
  &:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px backgroundColor inset !important;
    -webkit-text-fill-color: textColor !important;
  }

}

