@require '../../assets/stylesheets/global.styl';
@require '../../assets/stylesheets/helpers/forColors.styl';


.desktopSubHeader {
  +mobile() {
    display: none;
  }

  forColors(defaultColor: "purple", @($color) {
    .secondaryTitle {
      &::before  {
        color: $color;
      }
      &::after {
        color: $color;
      }
    }
  });
}

.primaryTitle {
  font-size: $font-xlarge;
  margin-bottom: $medium-spacing;
  color: $purple;    
}

.secondaryTitleRow {
  display: flex;
  justify-content: space-between;
}

.secondaryTitle {
  font-size: $font-large;
  margin-bottom: $medium-spacing;

  +mobile() {
    display: none;
  }

  &::before  {
    content: "[ ";
    color: $purple;
  }
  &::after {
    content: " ]";
    color: $purple;
  }
}

