@require "../../../assets/stylesheets/global.styl";
@require "../../../assets/stylesheets/helpers/clickable.styl";
@require "../../../assets/stylesheets/helpers/overrideInputAutoFillStyling.styl";
@require "../../../assets/stylesheets/helpers/forColors.styl";
@require "../../../assets/stylesheets/helpers/loadingPlaceholder.styl";


/**
 *  All form input elements share this stylesheet, in order for a widget to have standalone styling,
 *  and styling applied only when it is inside a <Form>.
 */

/**
 *
 *  This styling rule is used by both Input and Autocomplete (for its internal input element)
 */
.input, .autocompleteInput, .textarea {
  display: block;
  width: 100%;
  padding-left: $small-spacing;
  padding-right: $small-spacing;
  padding-top: $tiny-spacing;
  padding-bottom: $tiny-spacing;
  border: none;
  font-size: $font-small;
  font-family: Lato;
  background-color: $mediumgray;

  &:focus {
    outline: none;
  }

  forColors(defaultColor: "purple", @($color) {
    &:required {
      background: $color;
    }
  })

  &:required {
    color: white;

    &::selection {
      background: white;
      color: white;
    }
    &::placeholder {
      color: white;
    }
  }
}

.input, .autocompleteInput {
  border-radius: 99999px; /* arbitrary large value */
  overrideInputAutoFillStyling(backgroundColor: $mediumgray, textColor: black);

  forColors(defaultColor: "purple", @($color) {
    &:required {
      overrideInputAutoFillStyling(backgroundColor: $color, textColor: white);
    }
  })
}

.textarea {
  /* 
   * 25 is approximation of input text default height with current font settings, in order to have
   * the same border radius for textareas and inputs  
   *
   */
  border-radius: (25/2)px;
  resize: none;
  /*
   * Height to have 3 lines of text with current font settings 
   */
  height: 60px;
}


.button {
  display: block;
  width: 100%;
  padding-top: $small-spacing;
  padding-bottom: $small-spacing;
  border: none;
  font-family: Lato;
  font-size: $font-small;
  color: white;
  text-align: center;
  clickable();

  forColors(defaultColor: "purple", @($color) {
    background-color: $color;
  });

  +desktop() {
    width: auto;
    white-space: nowrap;
    padding-left: $medium-spacing;
    padding-right: $medium-spacing;
  }

  &:focus {
    outline: none;
  }

  &.secondary {
    background-color: $mediumgray;
    color: $darkgray;
  }

  &.loading {
    loadingOverlay();
  }

}

.autosuggestContainer {
  position: relative;

  forColors(defaultColor: "purple", @($color) {
    .suggestionHighlighted {
      background: $color;
      color: white;
    }
  })
}

.suggestionsContainer {
  position: absolute;
  width: 100%;
  margin-top: $tiny-spacing;
  border-radius: 15px;
  background-color: $mediumgray;
  overflow: hidden;
  z-index: 2;

  ul {
    list-style: none;
  }
}

.suggestion {
  padding-left: $small-spacing;
  padding-right: $small-spacing;
  font-size: $font-small;
  color: $darkgray;

  & > div {
    padding-top: $small-spacing;
    padding-bottom: $small-spacing;
  }

  &:hover {
    cursor: pointer;
  }

  &.noResults {
    cursor: initial;
    font-style: italic;
  }
} 


.form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  & > .input, & > .autosuggestContainer, & > .button, & > .textarea, & > .checkboxRow {
    margin-bottom: $small-spacing;
    &:last-child {
      margin-bottom: 0;
    }
  }

  forColors(defaultColor: "purple", @($color) {
    .input, .textarea {
      &:required {
        background: $color;
        overrideInputAutoFillStyling(backgroundColor: $color, textColor: white);
      }
    }
    .button:not(.secondary) {
      background-color: $color;
    }

    .autosuggestContainer .suggestionHighlighted {
      background: $color;
      color: white;
    }
  })

  h2 {
    color: $purple;
    font-size: $font-medium;
    font-weight: $fw-normal;
    margin-left: $tiny-spacing;
    margin-bottom: $tiny-spacing;
  }

  .inputErrorMessage {
    font-size: $font-small;
    color: $pink;
    margin-left: $tiny-spacing;
  }
}

.info {
  font-size: $font-small;
  margin-bottom: $small-spacing;
  margin-top: $small-spacing;

  &:first-child {
    margin-top: 0;
  }

  &.secondary {
    font-size: $font-xsmall;
    color: $darkgray;
  }
}

.checkboxRow {
  display: flex;
  align-items: center;
  font-size: $font-small;
  padding-left: $tiny-spacing;

  .customCheckbox, .customRadioButton {
    margin-right: $small-spacing;
    appearance: none;
    background-color: $lightgray;
    border-style: solid;
    border-color: $purple;
    border-width: 1.5px;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    &:focus {
      outline: none;
    }
  }

  .customCheckbox {
    border-radius: 2px;
    position: relative;

    &:checked {
      background-color: $purple;

      &:after {
  	    content: '\2714';
  	    font-size: 14px;
  	    position: absolute;
  	    top: 0px;
  	    left: 3px;
  	    color: $lightgray;
      }
    }
  }

  .customRadioButton {
    border-radius: 99999px;
    &:checked {
      border-width: 6px;
    }
  }

}

