@require '../../../assets/stylesheets/global.styl';
@require '../../../assets/stylesheets/helpers/clickable.styl';

.actionButton {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  clickable();

  &.unactive{
    opacity: 0.5;
  }

  &.loading{
    opacity: 0.7;
  }

  .icon {
    height: 25px;
    width: 25px;
  }
}
