@require '../../../assets/stylesheets/global.styl';

.thirdLevelHeader {
  padding-top: $tiny-spacing
  padding-bottom: $tiny-spacing;
  background-color: $pink;
  font-size: $font-small;
  font-weight: $fw-bold;
  color: white;
  text-align: center;
}

/*
 * Selector used by SimpleModalPage theme
 */
.content {
  hr {
    border-color: $mediumgray;    
  }
}

.desktopContent {
  //padding-top: $medium-spacing;
  padding-top: $large-spacing;
  padding-bottom: $large-spacing;
  padding-right: $medium-spacing;
  padding-left: $medium-spacing;
  background-color: white;
}

/*
 * Selector used by DesktopSubHeader theme
 */
.desktopHeaderPrimaryTitle {
  color: $pink;
}
