@require '../../assets/stylesheets/global';


.container {
  display: flex;
  padding: $small-spacing;
  background-color: $lightgray;

  .text {
    font-size: $font-small;
    text-align: justify;
    margin-right: $small-spacing;
  }

  .buttonArea {

    .button {
      padding-right: $small-spacing;
      padding-left: $small-spacing;
      white-space: nowrap;
    }
  }

  +desktop() {
    justify-content: center;
    .text {
      max-width: 500px;
    }
  }
}
