@require '../../assets/stylesheets/global.styl';


.screen {
  background: white;
  height: 100vh;
  width: 100vw;
  padding-top: $medium-spacing;

  .logo {
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    img {
      width: 100%;
    }
  }
}
