@require "../../assets/stylesheets/global.styl";


.container {
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  .messageContainer {
    position: relative;
    width: 270px;
    color: white;
    padding-left: $medium-spacing;
    padding-right: $medium-spacing;
    padding-top: $medium-spacing;
    padding-bottom: $medium-spacing;
    text-align: center;
    font-size: $font-small;
    +desktop() {
      width: 400px;
    }

    &.info {
      background-color: $black;
    }
    &.success {
      background-color: $pink;
    }
    &.error {
      background-color: $orange;
    }

    .closeButton {
      height: 10px;
      width: 10px;
      position: absolute;
      right: $small-spacing;
      top: $small-spacing;
      background: none;
      border: none;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      &::-moz-focus-inner {
        border: 0;
      }


      img {
        width: 100%;
        height: 100%;
      }
    }

    .confirmControls {
      display: flex;
      justify-content: center;
      margin-top: $small-spacing;
      text-decoration: underline;
      cursor: pointer;

      .control:first-child {
        margin-right: $medium-spacing;
      }
    }
  }
} 
