@require '../../assets/stylesheets/global.styl';

.discussion {
  position: relative;
  background-color: white;
  border: 1px solid $mediumgray;
  font-size: $font-small;
  cursor: pointer;
  margin-bottom: $huge-spacing;


  .header {
    background-color: $orange;
    color: white;
    font-weight: $fw-bold;
    padding-left: $small-spacing;
    padding-right: $small-spacing;
    padding-top: $tiny-spacing;
    padding-bottom: $tiny-spacing;
  }

  .content {
    padding: $small-spacing;
    padding-bottom: $large-spacing;
  }


  /* triangle */
  &:after {
    content: "";
    display: block;
    position: absolute;
    right: 15px;
    width: 0;
    height: 0;
    border-top: 15px solid white;
    border-left: 23px solid transparent;
    filter: drop-shadow(1px 1px 0 rgba(0,0,0,.1));
  }
}

