@require '../../assets/stylesheets/global.styl';
@require '../../assets/stylesheets/helpers/loadingPlaceholder.styl';

.loading {
  loadingOverlay(rgba(white, 0.8));
}

.lexicalSenses {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .lexicalSense {
    width: 100%;

    +desktop() {
      width: s('calc(50% - %s)', $medium-spacing / 2);
      margin-bottom: $medium-spacing;
    }
  }
}
