@require '../../assets/stylesheets/global.styl';
@require '../../assets/stylesheets/helpers/aboutBox.styl';
@require '../../assets/stylesheets/helpers/loadingPlaceholder.styl';


$font-size = $font-xsmall;

.container {
  aboutBoxStyling(titleSelector: '.title');

  .section {
    display: flex;

    .content {
      margin-right: $small-spacing;
    }
  }


  &.placeholder {
    loadingOverlay();
    .title, .section {
      position: relative;
    }

    .titlePlaceholder, .sectionPlaceholder {
      position: absolute;
      height: 75%;
      top: 0;
      background: darken($lightgray, 10%);
    }

    .titlePlaceholder {
      width: 60px;
    }
    .sectionPlaceholder {
      width: 100%;
    }
  }

  &.loading {
    loadingOverlay(rgba(white, 0.8));
  }
}
