@require '../../assets/stylesheets/global.styl';

.container {
  padding: $medium-spacing;
  background-color: $lightgray;
  color: $darkgray;

  +desktop() {
    padding: 0;
  }

  .noResultsText {
    font-style: italic;
  }

  .suggestionsText {
    font-weight: $fw-light;
  }

  ul {
    list-style-type: none;
  }

  li {
    margin-top: $tiny-spacing;
  }

  a {
    color: $purple;
    text-decoration: inherit;
    font-family: Raleway;
    font-weight: $fw-semibold;
  }

  hr {
    margin-top: $medium-spacing;
    margin-bottom: $medium-spacing;
  }
}
