@require '../../assets/stylesheets/global.styl';

.container {
  background-color: $lightgray;
  padding-left: $medium-spacing;
  padding-right: $medium-spacing;
  padding-top: $small-spacing;
  padding-bottom: $small-spacing;

  h4 {
    margin-bottom: $small-spacing;
    font-size: $font-medium;
    color: $purple;
  }

  p {
    font-size: $font-small;
    color: $darkgray;

    .inlineTitle {
      font-weight: $fw-bold;
    }

    a {
      color: inherit;
      font-style: italic;
    }
  }

  p:not(:last-child) {
    margin-bottom: 2px;
  }

  +desktop() {
    background-color: white;
    .title {
      display: none;
    }
    p {
      font-size: $font-medium;
      color: $black;
      .inlineTitle {
        font-weight: $fw-normal;
      }

      a {
        color: $purple;
        font-style: normal;
      }
    }
  }
}
