@require '../../assets/stylesheets/global.styl';
@require '../../assets/stylesheets/helpers/countriesBox.styl';
@require '../../assets/stylesheets/helpers/loadingPlaceholder.styl';
@require '../../assets/stylesheets/helpers/colorContainerWithCountry.styl';


.container {
  margin-bottom: $small-spacing;
  color: $darkgray;
  background-color: white;

  &:last-child {
    margin-bottom: 0;
  }

  colorContainerWithCountry(
    countriesBoxSelector: '.countries', 
    sourcesBoxSelector: '.sources', 
    withContainerBorders: true
  );


  .countriesRow {
    countriesRowStyling(countriesSelector: '.countries');

    .countries {
      max-width: 70%;
      padding-left: $medium-spacing;
    }
  }

  .sourcesRow {
    display: flex;
    justify-content: flex-end;
    margin-top: $small-spacing;
  }

  .sources {
    color: white;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: $small-spacing;
    padding-left: $small-spacing;
    max-width: 40%;
    font-size: $font-xsmall;
    font-weight: $fw-bold;
    padding-top: $tiny-spacing;
    padding-bottom: $tiny-spacing;
  }

  .countryPlaceholder, .sourcePlaceholder {
    padding-left: $huge-spacing;
  }


  .pos, .description {
    margin-left: $medium-spacing;
    margin-right: $medium-spacing;
  }

  .pos {
    margin-top: $small-spacing;
    margin-bottom: $tiny-spacing;
    font-size: $font-small;
    font-style: italic;

    .posPlaceholder {
      margin-top: $small-spacing;
      width: 60px;
      height: @font-size;
      background-color: $loading-placeholder-color;
    }
  }

  .description {
    position: relative;
    max-height: 100px;
    overflow: hidden;
    font-family: Raleway;
    font-size: $font-medium;
    +desktop() {
      height: 100px;
    }

    .descriptionOverlay.active {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      background-image: linear-gradient(to bottom, rgba(0,0,0,0), white);
      pointer-events: none;
    }
    
    .descriptionPlaceholder {
      margin-top: $small-spacing;
      margin-bottom: $small-spacing;
      height: @font-size;
      background-color: $loading-placeholder-color;
    }
  }

  a.description {
    display: block;
    text-decoration: none;
    color: inherit;
  }


  &.placeholder {
    loadingOverlay();
    border-color: $loading-placeholder-color;

    .countriesRow .countries, .sourcesRow .sources {
      background-color: $loading-placeholder-color;
    }
  }
}
