@require "../../../../assets/stylesheets/global.styl"


.topCaption {
  font-size: $font-small;
  margin-bottom: $medium-spacing;
}

.profileSummary {
  color: $purple;
  margin-bottom: $medium-spacing;

  +desktop() { color: $pink; }
  p {
    margin-bottom: $tiny-spacing;
  }
}

.topCaption, .profileSummary {
  text-align: center;
  +desktop() {
    text-align: left;
  }
}
