@require '../../assets/stylesheets/global.styl';

.topPostsSection {
  +desktop() {
    display: none;
  }
  margin-bottom: $small-spacing;
}

.desktopSideColumn {
  margin-top: 45px;
}

.desktopSubHeaderFormQuery {
  color: black;
}
