@require '../../assets/stylesheets/global.styl';
@require '../../assets/stylesheets/helpers/clickable.styl';
@require '../../layouts/mobile/MobileMainLayout/vars.styl';


$colors = {
  'green': $green,
  'orange': $orange,
  'yellow': $yellow,
  'pink': $pink
};

$button-border-width = 3px;

.container {
  display: flex;
  +mobile() {
    flex-direction: column;
    height: "calc(100vh - %s)" % ($header-default-height + 2*$small-spacing);
  }
  +desktop() {
    flex-wrap: wrap;
    justify-content: space-between;
  } 

  a {
    text-decoration: inherit;
  }
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  clickable();

  +desktop() {
    width: s('calc(50% - %s)', $medium-spacing / 2);
    margin-bottom: $medium-spacing;
    padding-top: $huge-spacing;
    padding-bottom: $huge-spacing;
  }

  +mobile() {
    flex-grow: 1;
  }

  for colorName, colorValue in $colors {
    &.{colorName} {
      background-color: colorValue;
      .button .textContainer {
        background-color: colorValue;
      }
    }
  }

  .button {
    border: $button-border-width solid white;
    padding-left: $tiny-spacing;
    padding-right: $tiny-spacing;

    .textContainer {
      height: 100%;
      margin-top: -($button-border-width);
      margin-bottom: -($button-border-width);
      padding-top: $tiny-spacing;
      padding-bottom: $tiny-spacing;
      padding-left: $small-spacing;
      padding-right: $small-spacing;
      text-align: center;
      font-weight: $fw-semibold;
      +mobile() {
        font-size: $font-small;
      }
      +desktop() {
        font-size: $font-medium;
      }
    }
  }
}

