@require '../../assets/stylesheets/global';

.logo, .title, .searchField, .searchButton, .geolocWidget, .footer {
  margin-bottom: $medium-spacing;
}

/* center fixed width elements */
.logo, .searchButton {
  margin-left: auto;
  margin-right: auto;
}

.searchButton {
  +desktop() {
    background-color: $lightgray;
    .text {
      background-color: $lightgray;
    }
  }
}

.logo {
  margin-top: $medium-spacing;
  +desktop() {
    margin-top: $huge-spacing;
  }
  width: 180px;
  img {
    width: 100%;
  }
}

.title {
  text-align: center;
  margin-bottom: $huge-spacing;
  h1 {
    font-family: Raleway;
    font-size: $font-xxlarge;
    font-weight: $fw-medium;
  }
}

.searchField {
  margin-right: $medium-spacing;
  margin-left: $medium-spacing;

  +desktop() {
    margin-right: auto;
    margin-left: auto;
    max-width: 500px;
  }
}

.geolocWidget {
  margin-right: $huge-spacing;
  margin-left: $huge-spacing;

  +desktop() {
    margin-right: auto;
    margin-left: auto;
    max-width: 250px;
  }
}


.footer {
  display: flex;
  margin-top: $medium-spacing;
  flex-direction: column;
  align-items: center;

  +desktop() {
    display: none;
  }

  hr {
    width: 10px;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-top: 3px solid $yellow;
  }

  .footerText {
    margin-top: $small-spacing;
    margin-bottom: $small-spacing;
    font-family: Raleway;
    font-size: $font-medium;
    font-weight: $fw-light;
    text-align: center;
  }
}


.mobileMainLayoutContainer {
  background: white;
} 
