@require '../../assets/stylesheets/global.styl';
@require '../../assets/stylesheets/helpers/countriesBox.styl';
@require '../../assets/stylesheets/helpers/aboutBox.styl';
@require '../../assets/stylesheets/helpers/loadingPlaceholder.styl';
@require '../../assets/stylesheets/helpers/clickable.styl';
@require '../../assets/stylesheets/helpers/colorContainerWithCountry.styl';


.section {
  padding-left: $medium-spacing;
  padding-right: $medium-spacing;
  padding-top: $small-spacing;
  padding-bottom: $small-spacing;
  margin-bottom: $medium-spacing;
  background-color: white;


  &.definitionSection {
    +desktop() {
      padding-top: $medium-spacing;
    }
  }

  &.actionsSection {
    margin-bottom: 0;
  }

  .countriesRow {
    countriesRowStyling(countriesSelector: '.countries');
    colorContainerWithCountry(countriesBoxSelector: '.countries');
    a {
      text-decoration: inherit;
    }
  }

  .pos {
    margin-top: $small-spacing;
    font-size: $font-medium;
    font-style: italic;
  }

  .tags {
    margin-top: $small-spacing;
    span {
      font-size: $font-medium;
      font-weight: $fw-normal;
      color: $purple;
      text-decoration: underline;
    }
  }

  .description {
    margin-top: $small-spacing;
    font-family: Raleway;
    font-size: $font-large;
  }



  .editLink {
    color: $purple;
    text-decoration: underline;
    font-size: $font-small;
    font-family: Raleway;
    font-weight: $fw-medium;
  }
}

.actionsRow {
  display: flex;  
  align-items: center;
  flex-wrap: wrap;

  .filler {
    flex-grow: 1;
  }

  .likes, .sources, .likeAction {
    margin-right: $small-spacing;
  }

  .likes, .sources {
    color: $purple;
    font-size: $font-small;
    font-weight: $fw-bold;
    .icon {
      height: @font-size;
      margin-left: $tiny-spacing;
    }   
  }

  .sources {
    flex-shrink: 0;
    max-width: 60px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-decoration: underline;
  }
}


.aboutSense {
  aboutBoxStyling(titleSelector: 'h5');
}


.topPostsSection, .aboutSense, .actionsSection {
  +desktop() {
    display: none;
  }
}

.desktopSubHeaderFormQuery {
  color: black;
}
