@require '../../assets/stylesheets/global.styl';


.content, .desktopContent {
  background-color: $white;
  color: $black;
  text-align: center;

  img {
    max-width: 200px;
    max-height: 100px;
    margin-right: $small-spacing;
    margin-bottom: $small-spacing;
  }
}
