@require "../../assets/stylesheets/global.styl";


.topInfoBox {
  background-color: $pink;
  color: white;
  margin-top: -($large-spacing);
  margin-left: -($medium-spacing);
  margin-right: -($medium-spacing);
  padding: $medium-spacing;
  margin-bottom: $medium-spacing;

  h2, p {
    font-size: $font-small;
  }
  h2 {
    margin-bottom: $tiny-spacing;
  }
  p {
    text-align: justify;
  }
}

.help {
  text-align: center;
  margin-top: $small-spacing;

  em {
    color: $purple;
    font-style: normal;
  }

  p {
    margin-bottom: $tiny-spacing;
  }
}
